@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  display: flex;
  justify-content: center;
  --color-1: #09637E;
  --color-2: #088395;
  --color-3: #BFC9D1;
  --color-4: #EAEFEF;
  --header-color: #FF9B51;
  --header-color-darker: #EE9A50;
  --footer-color: #25343F;
  /*Färger tagna från https://colorhunt.co/palette/eaefefbfc9d125343fff9b51*/
}

* {
  box-sizing: border-box;
}

#container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  align-items: center;
  width: 100%;
}

#content {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 10px;
}

body {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  width: 980px;
  background-color: var(--color-4);
  color: var(--color-1);
  margin: 0;
}

aside {
  flex-basis: 100px;
  flex-shrink: 0;
  padding-top: 10px;
  border: 1px solid black;
  border-radius: 10px;
}

header {
  width: 100%;
  background-color: var(--header-color);
}
footer{
  width: 100%;
  background-color: var(--footer-color);
  text-align: center;
  color: azure;
}

h1 {
  /*color: var(--header-color);*/
  font-size: 22px;
  text-align: center;
}

h2 {
  font-size: 18px;
}

#menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 50px;
}


.dropdown-container {
  position: relative;
  width: 150px;
}

.dropdown-container:hover .dropdown {
  display: flex;
}

.dropdown {
  /* gömmer allt i klassen by default 
    posi
  */
  display: none;
  flex-direction: column;
  position: absolute;
  top: 100%;
  width: 100%;
  background-color: #FF9B51;
  border: 1px solid black;

}

.dropdown > a {
  margin-top: 5px;
  width: 100%;
}

.dropdown > a:hover {
  background-color: var(--header-color-darker);

} 

table, td, th {
  border: 1px solid black;
}
/*Flera element ändrade sammtidigt. Smidigt!*/

li {
  margin: 20px;
}

a {
  color: inherit;
  text-decoration: none;
}

main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 1;
  
  width: 100%;
}

article {
  border: 1px solid black;
  background-color: var(--color-3);
  
}

a img {
  width: 200px;
}

button {
  width: 20%;
}

#Bild {
  width: 250px;
}

#GoogleMaps_link {
  height: 450px;
}

.indexItemImg {
  width: 50px;
}

.indexItemContainer {
  display: flex;
  flex-direction: column;
}

.indexArticle {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  padding: 5px;
  
}

.founders {
  display: flex;
  flex-direction: row;
  gap: 20px;
  text-align: center;
}

.founderimg {
  width: 200px;
}

.annonsContainer {
  display: flex;
  flex-direction: row;
}

.tillSaluText {
  display: flex;
  flex-direction: column;
}

main > article.indexArticle > a {
  display: block;
}

form {
  padding: 2rem;
box-align: center;
}