@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  display: flex;
  justify-content: center;
  --color-1: #09637E;
  --color-2: #088395;
  --color-3: #7AB2B2;
  --color-4: #EBF4F6;
}

#container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  align-items: center;
  width: 100%;
}

#content {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 10px;
}

body {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  width: 980px;
  background-color: var(--color-4);
  color: var(--color-1);
}

aside {
  flex-basis: 100px;
  flex-shrink: 0;
  background-color: yellow;
  padding-top: 10px;
}

header {
  width: 100%;
}

h1 {
  color: var(--color-3);
  font-size: 22px;
  text-align: center;
}

h2 {
  font-size: 18px;
}

ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

li {
  margin: 20px;
}

main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 1;
  background-color: darkgray;
  width: 100%;
}

article {
  border: 1px solid black;
}

a img {
  width: 200px;
}

button {
  width: 20%;
}

.indexItemImg {
  width: 50px;
}

.indexItemContainer {
  display: flex;
  flex-direction: column;
}

.indexArticle {
  display: flex;
  flex-direction: row;
  padding: 5px;
}

.founders {
  display: flex;
  flex-direction: row;
  gap: 20px;
  text-align: center;
}

.founderimg {
  width: 200px;
}

.annonsContainer {
  display: flex;
  flex-direction: row;
}

.tillSaluText {
  display: flex;
  flex-direction: column;
}